<md-dialog aria-label="Banner Popup" style="max-height:500px">	
 	<md-dialog-content layout='column' style='padding:0px'>
		
		<div class="roboto">
			<div class="">
				<div class="pp-box" style="left:0px">
					<a href="#" class="clse-spite" ng-click="close_popup()"></a>
					<span class="pp-title">Email Package</span>
					<div class="pp-infotxt">
						You will be notified of the further process as soon as your website & mobile site is ready
					</div>
					<div class="pp-btn-wrp">
						<a href="javascript:void(0);" class="clse-n" ng-click="proceed_sms()">OK</a>
					</div>
				</div>
			</div>
		</div>
		
		
		
	</md-dialog-content>
</md-dialog>
