<md-dialog aria-label="Banner Popup">	
 	<md-dialog-content layout='column' style='padding:0px'>
		<div class="bnr_dgn_popup" style="overflow-x:hidden">
		    <div class="ttle">IFSC Code Samples</div>
			<img src='img/banner_img/icicibank.png' alt="sample1" style="padding: 10px;"/> 
			<img src='img/banner_img/kotakbank.png' alt="sample2" style="padding: 10px;"/> 
			<img src='img/banner_img/state_bank.png' alt="sample3" style="padding: 10px;"/> 
			<img src='img/banner_img/axisbank.png' alt="sample4" style="padding: 10px;"/> 
			<img src='img/banner_img/hdfcbank.png' alt="sample5" style="padding: 10px;"/> 

			
				
			
			
			<span class="cls_btn" ng-click="closepopup()">X</span>
				
		</div
	</md-dialog-content>
</md-dialog>	
