<section class="mainSection" subtract="500">
	<section class="mainContain" ng-if="instantECS.errorCode == 0">
		<h3 class="marBot10px" ng-if="mainPage	==	'search'">Below is your Search Result :</h3>
		<nav ng-if="mainPage	!=	'search'" class="left margin8 slideIndi" >
			<div class="left arrow marTop10px" ng-if="setArrowPos==1" ng-click="slideright($event)"><img ng-src="img/arrow-left.png" /></div>
			<div class="navSlider left">
				<ul class="navFilters left width100 marBot30px marTop10px repPop setTotContWidth">
					<li ng-click="$state.go('appHome.filter',{srchparam:'all',srchWhich:'',currPage:'instantECS'})" class="left">All</li><span class="left">/</span>
					<li ng-click="showSubMenu($event)" class="left">companyname
						<ul class="hide submenuUl">
							<li class="left" ng-click="$state.go('appHome.filter',{srchparam:'companyname',srchWhich:'order-asc',currPage:'instantECS'})">ORDER ASC</li><span class="left">/</span>
							<li class="left" ng-click="$state.go('appHome.filter',{srchparam:'companyname',srchWhich:'order-desc',currPage:'instantECS'})">ORDER DESC</li>
						</ul>
					</li><span class="left">/</span>
					<li ng-click="showSubMenu($event)" class="left lastLiTop">Entry Date
						<ul class="hide submenuUl">
							<li class="left" ng-click="$state.go('appHome.filter',{srchparam:'entry_date',srchWhich:'order-asc',currPage:'instantECS'})">ORDER ASC</li><span class="left">/</span>
							<li class="left" ng-click="$state.go('appHome.filter',{srchparam:'entry_date',srchWhich:'order-desc',currPage:'instantECS'})">ORDER DESC</li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="left arrow marTop10px" ng-if="setArrowPos==1" ng-click="slideleft($event)"><img ng-src="img/arrow-right.png" /></div>
		</nav>
		<div class="left inputIndiSrch marBot30px"><input type="text" class="SearchCompany" ng-model="compFilter" placeholder="Search in loaded Contracts within this page" ></div>
		<div class="left width50 slideIndi" ng-if="mainPage	!=	'search'">
			<div class="left arrow marTop10px ng-scope" ng-click="sliderRightPage($event)" ng-if="setArrowPosPage==1">
				<img ng-src="img/arrow-left.png" src="img/arrow-left.png">
			</div>
			<div class="pageSlider left">
				<ul class="left text-center navFilters setTotContWidthPage repPop">
					<li ng-class="{selectedPage: $index==selectedIndex || (selectedIndex == '' && n == 0)}" class="left pointer pageLi" ng-repeat="n in [] | range:pageContracts" ng-click="clickLoad(n)">{{n+1}}</li>
				</ul>
			</div>
			<div class="left arrow marTop10px ng-scope" ng-click="slideleftPage($event)" ng-if="setArrowPosPage==1">
				<img ng-src="img/arrow-right.png" src="img/arrow-right.png">
			</div>
		</div>
		<div class="right marBot10px"><div class="left marRt10px" ng-click="changeView($event,2)"><img ng-src="img/list.png" /></div><div class="left marRt20px" ng-click="changeView($event,1)"><img ng-src="img/grid.png" /></div></div>
		<div class="divbackground" ng-click="compFilter = ''"><img class="very-small-cross" ng-show="compFilter" ng-src="img/blackCross.jpeg"></div>
		<div class="incDiv left width100">
			<div class="panelDiv repeat-animation" ng-repeat="contract in instantECS.data | filter:compFilter" ng-if="viewParam	==	1">
				<div class="contDivs left front">
					<div class="innerContDiv">
						<div class="compNameTile blue pointer" ng-click="goToBform(contract)"><h3>{{contract.companyname == '' && 'Company Name Not Found' || contract.companyname |capitalize}}</h3></div>
						<div class="divContContainer overflow">
							<p class="parentidShow arial small-font darkGrey mar-bot-5 | filter:compFilter">{{contract.contractid}}</p>
							<p class="parentidShow arial small-font darkGrey mar-bot-5">Entry Date & Time - {{contract.entry_date}}</p>
							<p class="parentidShow arial small-font darkGrey mar-bot-5">TME Name - {{contract.tmename}}</p>
							<p class="parentidShow arial small-font darkGrey mar-bot-5">ME Name - {{contract.mename}}</p>
							<p class="parentidShow arial small-font darkGrey mar-bot-5">Bounce Reason - {{contract.bouncedreasons}}</p>
							<p class="parentidShow arial small-font darkGrey mar-bot-5">Source Flag - {{contract.source_flag}}</p>
							
						</div>
						<div class="slideIndi left positionAbs bottom0 width100">
							<div class="left arrow marTop10px" ng-click="slideright($event)"><img ng-src="img/arrow-left.png" /></div>
							<div class="upperLayerMenu left">
								<div class="left repPop setTotContWidth">
									<a ng-href="../paid/showPymtHistory.php?parentID={{contract.contractid}}" target="_blank" ><div class="left repDivsIndi very-small-font darkGrey arial text-center marRt10px"><div class="marBot10px"><img ng-src="img/add-on.png" /></div><div>Show Payment</div></div></a>
									<a ng-href="../00_Payment_Rework/add_on_payment/mode_selection.php?parentid={{contract.contractid}}&compname={{contract.companyname | urlEncode}}" target="_blank"><div class="left repDivsIndi very-small-font darkGrey arial text-center marRt10px"><div class="marBot10px"><img ng-src="img/add-on.png" /></div><div>AddOn Payment</div></div></a>
									<div class="left repDivsIndi very-small-font darkGrey arial text-center marRt10px" ng-click="checkTrackerRep($event,contract.contractid)"><div class="marBot10px"><img ng-src="img/report-small.png" /></div><div>Tracker Report</div></div>
									<a ng-href="../00_Payment_Rework/accounts/mandate_selection.php?parentid={{contract.contractid}}&compname={{contract.companyname | urlEncode}}&flag=" target="_blank"><div class="left repDivsIndi very-small-font darkGrey arial text-center marRt10px"><div class="marBot10px"><h3>ADD</h3></div><div>ECS / CCSI</div></div></a>
								</div>
							</div>
							<div class="left arrow marTop10px" ng-click="slideleft($event)"><img ng-src="img/arrow-right.png" /></div>
						</div>
					</div>
					<div class="catupeven coverOverlay hide colorWhite">
						<h3 class="loadingMini hide colorWhite">Loading...</h3>
						<a><div class="right arial" ng-click="closeOverlay($event)">X</div></a>
						<div class="catContain" ng-if="categories.errorCode=='0'">
							<h3 class="colorWhite">Categories for {{contract.companyname|capitalize}}</h3>
							<div class="catsShow" ng-repeat="cats in categories.data">
								{{cats.category_name}}
							</div>
						</div>
						<div class="catContain" ng-if="categories.errorCode=='1'">
							<h3 class="colorWhite">Categories Not Present</h3>
						</div>
					</div>
					<div class="trackeroverlay coverOverlay hide colorWhite">
						<h3 class="loadingMini hide colorWhite">Loading...</h3>
						<a><div class="right arial" ng-click="closeOverlay($event)">X</div></a>
						<div class="catContain">
							<div class="colorWhite text-center" ng-if="trackRepChk.ECS == 1"><a class="colorWhite" ng-href="../00_Payment_Rework/accounts/ecs_tracker_report_tme.php?parentid={{contract.contractid}}&flag=1&me_tme={{employees.hrInfo.data.empcode}}" target="_blank"><h3 class="colorWhite">Click to see report for ECS</h3></a></div>
							<div class="colorWhite text-center" ng-if="trackRepChk.SI == 1"><a class="colorWhite" ng-href="../00_Payment_Rework/accounts/si_tracker_report_tme.php?parentid={{contract.contractid}}&flag=2&me_tme={{employees.hrInfo.data.empcode}}" target="_blank"><h3 class="colorWhite">Click to see report for SI</h3></a></div>
							<div class="colorWhite text-center" ng-if="trackRepChk.SI == 0 && trackRepChk.ECS == 0"><h3 class="colorWhite">Track Report is not available</h3></div>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-container width100" ng-if="viewParam	==	2">
				<div class="shiftArrow leftShiftArrow"  ng-click="setPageShiftRight()"></div>
				<div class="shiftArrow rightShiftArrow"ng-click="setPageShiftLeft()"></div>
				<div class="headerTable width100 border-bot-grey">
					<div class="tab-row repeat-animation">
						<div class="left widthFree blue headFont">
							<span>Companyname</span>
						</div>
						<div class="rotateRight">
							<div class="left widthFreeSmall text-center blue headFont" style="width:220px">Company Id</div>
							<div class="left widthFreeSmall text-center blue headFont">Show Payment</div>
							<div class="left widthFreeSmall text-center blue headFont">Add On Payment</div>
							<div class="left widthFreeSmall text-center blue headFont">Bounce Reason</div>
							<div class="left widthFreeSmall text-center blue headFont">TME Name</div>
							<div class="left widthFreeSmall text-center blue headFont">ME Name</div>
							<div class="left widthFreeSmall text-center blue headFont">Ext. mandate</div>
							<div class="left widthFreeSmall text-center blue headFont">Entry Date</div>
							<div class="left widthFreeSmall text-center blue headFont">Categories</div>
						</div>
					</div>
				</div>
				<div class="bodyTable width100">
					<div class="width100 border-bot-grey" ng-repeat="contract in instantECS.data | filter: compFilter">
						<div class="tab-row repeat-animation">
							<div class="left widthFree" ng-class="{'green':contract.paidstatus=='1','blue':contract.paidstatus!='1'}">
								<span ng-if="contract.companyname !='' && contract.companyname != null" ng-click="goToBform(contract)" title="{{contract.contractid}}" class="pointer">{{contract.companyname|capitalize}}</span>
								<span ng-if="contract.companyname =='' || contract.companyname == null" ng-click="goToBform(contract)" class="pointer">Company Name Not Found</span>
							</div>
							<div class="rotateRight">
								<div class="left widthFreeSmall pointer text-center" style="width:220px">{{contract.contractid}}</div>
								<div class="left widthFreeSmall pointer text-center">
									<a ng-href="../paid/showPymtHistory.php?parentID={{contract.contractid}}" target="_blank" ><img ng-src="img/add-on.png" /></a>
								</div>
								<div class="left widthFreeSmall pointer text-center">
									<a ng-href="../00_Payment_Rework/add_on_payment/mode_selection.php?parentid={{contract.contractid}}&compname={{contract.companyname | urlEncode}}" target="_blank"><img ng-src="img/add-on.png" /></a>
								</div>
								<div class="left widthFreeSmall pointer text-center" ng-if="contract.bouncedreasons == '' || contract.bouncedreasons == null">--</div>
								<div class="left widthFreeSmall pointer text-center" ng-if="contract.bouncedreasons != '' && contract.bouncedreasons != null">{{contract.bouncedreasons}}</div>
								<div class="left widthFreeSmall pointer text-center" ng-if="contract.tmename == '' || contract.tmename == null">--</div>
								<div class="left widthFreeSmall pointer text-center" ng-if="contract.tmename != '' && contract.tmename != null">{{contract.tmename}}</div>
								<div class="left widthFreeSmall pointer text-center" ng-if="contract.mename == '' || contract.mename == null">--</div>
								<div class="left widthFreeSmall pointer text-center" ng-if="contract.mename != '' && contract.mename != null">{{contract.mename}}</div>
								<div class="left widthFreeSmall pointer text-center"><a ng-href="../00_Payment_Rework/accounts/mandate_selection.php?parentid={{contract.contractid}}&compname={{contract.companyname | urlEncode}}&flag=" target="_blank">ECS / CCSI</a></div>
								<div class="left widthFreeSmall pointer text-center" ng-if="contract.entry_date == '' || contract.entry_date == null">--</div>
								<div class="left widthFreeSmall pointer text-center" ng-if="contract.entry_date != '' && contract.entry_date != null">{{contract.entry_date}}</div>
								<div  ng-click="showDataModeTab($event,2,contract.contractid,contract.compname,$index)" class="left widthFreeSmall pointer text-center"><img ng-src="img/more.png" /></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section ng-if="instantECS.errorCode == 1" class="text-center">
		<div style="font-size:294px;">:(</div>
		<h2>Sorry! No contracts are allocated to you.</h2>
	</section>
</section>
