<div class="right-slidbx">			
	<div class="conboxSlide"> 
	<div class="whtUget-bx" ng-click="slide_menu()"> What you get?  </div>
		<ul> 
			<li> Free add-on service to accept online payment from your customers. </li>
			<li> No card payment device required. </li>
			<li> Instant transfer of amount to your bank account. </li>
			<li> 100% secure transactions. </li>
			<li> Activate by registering your bank acc. no with IFSC code. </li>
			<li> Send payment SMS to customer by entering amount & mobile no. </li>
			<li> Customer can pay by one click on the SMS sent by you. </li>
			<li> No down time because of device maintenance. </li>
			<li> Only approx 1.5% of the total amount is deducted when the amount is transfered. </li>
		</ul>
	</div>
</div>

<div class="main-imgConBx wrpr text-center"> 
	<div class="con-bx wrpr"> 
		<img src="img/banner_img/jdpay_demo.jpg" />
		<img src="img/banner_img/jdpay_2.jpg" />
	</div>
</div>

<div id="posi_fx"></div>
<div class="prnt">
	<div class="wrpr text-center butn-bx _fixed" id="btnSec"> 
		<button class="sendLink" ng-click='sendpaymentlink($event)'> Send Link </button> 
		<button class="proceed mrg-left-15" ng-click="gotojdserach($event)"> Proceed </button> 
	</div>
</div>
