<div class="right-slidbx">			
	<div class="conboxSlide"> 
	<div class="whtUget-bx" ng-click="slide_menu()"> What you get?  </div>
		<ul> 
			<li> Free add-on service to increase rating of your business. </li>
			<li> Organic increase of ratings by sending free sms/email. </li>
			<li> Enter customer name & mobile no. to send rating request. </li>
			<li> Customer gets an SMS to rate your service in one click. </li>
			<li> Customer ratings is shown on Jd instantly. </li>
		</ul>
	</div>
</div>

<div class="main-imgConBx wrpr text-center"> 
	<div class="con-bx wrpr"> 
		<img src="img/banner_img/vendor_sms.jpg" />
		<img src="img/banner_img/user_sms.jpg" />
	</div>
</div>

<div id="posi_fx"></div>
<div class="prnt">
	<div class="wrpr text-center butn-bx  _fixed" id="btnSec"> 
		<button class="sendLink" ng-click='sendratinglink($event)'> Send Link </button> 
		<button class="proceed mrg-left-15" ng-click="gotojdrrdemo()"> Proceed </button> 
	</div>
</div>
