<section class="mainSection" subtract="500">
	<section class="mainContain" ng-if="hotData.errorCode == 0">
		<h3 class="marBot10px" ng-if="mainPage	==	'search'">Below is your Search Result :</h3>
		<nav ng-if="mainPage	!=	'search'" class="left margin8 slideIndi" >
			<div class="left arrow marTop10px" ng-if="setArrowPos==1" ng-click="slideright($event)"><img ng-src="img/arrow-left.png" /></div>
			<div class="navSlider left">
				<ul class="navFilters left width100 marBot30px marTop10px repPop setTotContWidth">
					<li ng-click="$state.go('appHome.filter',{srchparam:'all',srchWhich:'',currPage:'hotData'})" class="left">All</li><span class="left">/</span>
					<li ng-click="showSubMenu($event)" class="left">CompanyName
						<ul class="hide submenuUl">
							<li class="left" ng-click="$state.go('appHome.filter',{srchparam:'company_name',srchWhich:'order-asc',currPage:'jdrrPropectData'})">ORDER ASC</li><span class="left">/</span>
							<li class="left" ng-click="$state.go('appHome.filter',{srchparam:'company_name',srchWhich:'order-desc',currPage:'jdrrPropectData'})">ORDER DESC</li>
						</ul>
					</li><span class="left">/</span>
					<li class="left" ng-click="showSubMenu($event)">Allocated On
						<ul class="hide submenuUl">
							<li class="left" ng-click="$state.go('appHome.filter',{srchparam:'datasource_date',srchWhich:'order-asc',currPage:'jdrrPropectData'})">ORDER ASC</li><span class="left">/</span>
							<li class="left" ng-click="$state.go('appHome.filter',{srchparam:'datasource_date',srchWhich:'order-desc',currPage:'jdrrPropectData'})">ORDER DESC</li>
						</ul>
					</li><span class="left">/</span>
					<li class="left lastLiTop" ng-click="showSubMenu($event)">Last Called
						<ul class="hide submenuUl">
							<li class="left" ng-click="$state.go('appHome.filter',{srchparam:'alloctime',srchWhich:'order-asc',currPage:'jdrrPropectData'})">ORDER ASC</li><span class="left">/</span>
							<li class="left" ng-click="$state.go('appHome.filter',{srchparam:'alloctime',srchWhich:'order-desc',currPage:'jdrrPropectData'})">ORDER DESC</li>
						</ul>
					</li><span class="left">/</span>
				</ul>
			</div>
			<div class="left arrow marTop10px" ng-if="setArrowPos==1" ng-click="slideleft($event)"><img ng-src="img/arrow-right.png" /></div>
		</nav>
		<div class="left inputIndiSrch marBot30px"><input type="text" class="SearchCompany" ng-model="compFilter" placeholder="Search in loaded Contracts within this page" ></div>
		<div class="left width50 slideIndi" ng-if="mainPage	!=	'search'">
			<div class="left arrow marTop10px ng-scope" ng-click="sliderRightPage($event)" ng-if="setArrowPosPage==1">
				<img ng-src="img/arrow-left.png" src="img/arrow-left.png">
			</div>
			<div class="pageSlider left">
				<ul class="left text-center navFilters setTotContWidthPage repPop">
					<li ng-class="{selectedPage: $index==selectedIndex || (selectedIndex == '' && n == 0)}" class="left pointer pageLi" ng-repeat="n in [] | range:pageContracts" ng-click="clickLoad(n)">{{n+1}}</li>
				</ul>
			</div>
			<div class="left arrow marTop10px ng-scope" ng-click="slideleftPage($event)" ng-if="setArrowPosPage==1">
				<img ng-src="img/arrow-right.png" src="img/arrow-right.png">
			</div>
		</div>
		<div class="right marBot10px"><div class="left marRt10px" ng-click="changeView($event,2)"><img ng-src="img/list.png" /></div><div class="left marRt20px" ng-click="changeView($event,1)"><img ng-src="img/grid.png" /></div></div>
		<div class="divbackground" ng-click="compFilter = ''"><img class="very-small-cross" ng-show="compFilter" ng-src="img/blackCross.jpeg"></div>
		<div class="incDiv left width100">
			<div class="panelDiv repeat-animation" ng-repeat="contract in hotData.data | filter:compFilter" ng-if="viewParam	==	1">
				<div class="contDivs left front">
					<div class="innerContDiv">
						<div class="compNameTile blue pointer" ng-click="goToBform_jdrr(contract)"><h3>{{contract.company_name}}</h3></div>
						<div class="divContContainer overflow">
							<div class="parentidShow arial small-font darkGrey mar-bot-5 | filter:compFilter">{{contract.parentid}}</div>
							<p class="allocTime arial small-font darkGrey" ng-if="contract.alloctype != null" ng-switch on="contract.alloctype">
								<span ng-switch-when="22">Call Back on </span>
								<span ng-switch-when="124">Call back – Contact details verified on </span>
								<span ng-switch-when="24">Follow Up on </span>
								<span ng-switch-when="21">Tagged Not Interested on </span>
								<span ng-switch-when="4">Tagged Phone Ringing on </span>
								<span ng-switch-when="12">Tagged Company Closed on </span>
								<span ng-switch-when="6">Not Reachable on </span>
								<span ng-switch-when="7">Tagged Wrong Number on </span>
								<span ng-switch-when="8"> Tagged Number Changed on </span>
								<span ng-switch-when="9">Do Not Disturb on </span>
								<span ng-switch-when="10">Person Unavailable on </span>
								<span ng-switch-when="11">Data Incorrect on </span>
								<span ng-switch-when="25">Allocated to ME on </span>
								<span ng-switch-when="34">Not Visited on </span>
								<span ng-switch-when="32">Not Available on </span>
								<span ng-switch-when="98">Not in Business on </span>
								<span ng-switch-when="127">Internal Call on </span>
								<span ng-switch-when="207">Tagged Paid Client on </span>
								<span ng-switch-when="114">Calls Made on </span>
								<span ng-switch-when="113">Tagged Other TME Data on </span>
								<span ng-switch-default>--</span>
								<span>{{contract.alloctime}}</span>
							</p>
							<p class="arial small-font darkGrey" ng-if="contract.data_source != '' && contract.data_source != null">Source of Origin is {{contract.data_source}}</p>
							<p class="arial small-font darkGrey" ng-if="contract.update_time != '' && contract.update_time != null">Updated On - {{contract.update_time}}</p>
							<p class="arial small-font darkGrey" ng-if="contract.insert_time != '' && contract.insert_time != null">Created On - {{contract.insert_time}}</p>
							<p class="arial small-font darkGrey" ng-if="contract.comments != '' && contract.comments != null">Comments - {{contract.comments}}</p>
							<p class="arial small-font darkGrey" ng-if="contract.class != '' && contract.class != null">Categories - {{contract.class}}</p>
							<p class="arial small-font darkGrey" ng-if="contract.empcode != '' && contract.empcode != null">EmpCode - {{contract.empcode}}</p>
							<p class="arial small-font darkGrey" ng-if="contract.company != '' && contract.company != null">Appointment Date - {{contract.app_data}}</p>
						</div>
						<div class="slideIndi left positionAbs bottom0 width100">
							<div class="left arrow marTop10px" ng-click="slideright($event)"><img ng-src="img/arrow-left.png" /></div>
							<div class="upperLayerMenu left">
								<div class="left repPop setTotContWidth">
									<div ng-click="showCats($event,contract.parentid)" class="left repDivsIndi very-small-font darkGrey arial text-center marRt10px marTop7px"><div class="marBot10px"><img ng-src="img/more.png" /></div><div>Show Cats</div></div>
									<a ng-href="../00_Payment_Rework/add_on_payment/mode_selection.php?parentid={{contract.parentid}}&company_name={{contract.company_name | urlEncode}}" target="_blank"><div class="left repDivsIndi very-small-font darkGrey arial text-center marRt10px"><div class="marBot10px"><img ng-src="img/add-on.png" /></div><div>AddOn Payment</div></div></a>
									<a ng-href="../00_Payment_Rework/accounts/mandate_selection.php?parentid={{contract.parentid}}&company_name={{contract.company_name | urlEncode}}&flag=" target="_blank"><div class="left repDivsIndi very-small-font darkGrey arial text-center marRt10px"><div class="marBot10px"><h3>EM</h3></div><div>Ext. Mandate</div></div></a>
									<div class="left repDivsIndi very-small-font darkGrey arial text-center marRt10px" ng-click="checkTrackerRep($event,contract.parentid)"><div class="marBot10px"><img ng-src="img/report-small.png" /></div><div>Tracker Report</div></div>
									<a ng-href="../tmAlloc/companyFeedbackRep.php?parentid={{contract.parentid}}" target="_blank"><div class="left repDivsIndi very-small-font darkGrey arial text-center marRt10px"><div class="marBot10px"><img ng-src="img/phone2.png" /></div><div>Statement/Feed</div></div></a>
								</div>
							</div>
							<div class="left arrow marTop10px" ng-click="slideleft($event)"><img ng-src="img/arrow-right.png" /></div>
						</div>
					</div>
					<div class="catupeven coverOverlay hide colorWhite">
						<h3 class="loadingMini hide colorWhite">Loading...</h3>
						<a><div class="right arial" ng-click="closeOverlay($event)">X</div></a>
						<div class="catContain" ng-if="categories.errorCode=='0'">
							<h3 class="colorWhite">Categories for {{contract.company_name|capitalize}}</h3>
							<div class="catsShow" ng-repeat="cats in categories.data">
								{{cats.category_name}}
							</div>
						</div>
						<div class="catContain" ng-if="categories.errorCode=='1'">
							<h3 class="colorWhite">Categories Not Present</h3>
						</div>
					</div>
					<div class="trackeroverlay coverOverlay hide colorWhite">
						<h3 class="loadingMini hide colorWhite">Loading...</h3>
						<a><div class="right arial" ng-click="closeOverlay($event)">X</div></a>
						<div class="catContain">
							<div class="colorWhite text-center" ng-if="trackRepChk.ECS == 1"><a class="colorWhite" ng-href="../00_Payment_Rework/accounts/ecs_tracker_report_tme.php?parentid={{contract.parentid}}&flag=1&me_tme={{employees.hrInfo.data.empcode}}" target="_blank"><h3 class="colorWhite">Click to see report for ECS</h3></a></div>
							<div class="colorWhite text-center" ng-if="trackRepChk.SI == 1"><a class="colorWhite" ng-href="../00_Payment_Rework/accounts/si_tracker_report_tme.php?parentid={{contract.parentid}}&flag=2&me_tme={{employees.hrInfo.data.empcode}}" target="_blank"><h3 class="colorWhite">Click to see report for SI</h3></a></div>
							<div class="colorWhite text-center" ng-if="trackRepChk.SI == 0 && trackRepChk.ECS == 0"><h3 class="colorWhite">Track Report is not available</h3></div>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-container width100" ng-if="viewParam	==	2">
				<div class="shiftArrow leftShiftArrow"  ng-click="setPageShiftRight()"></div>
				<div class="shiftArrow rightShiftArrow"ng-click="setPageShiftLeft()"></div>
				<div class="headerTable width100 border-bot-grey">
					<div class="tab-row repeat-animation">
						<div class="left widthFree blue headFont">
							<span>Companyname</span>
						</div>
						<div class="rotateRight">
							<div class="left widthFreeSmall text-center blue headFont">Origin Source</div>
							<div class="left widthFreeSmall text-center blue headFont">Allocated Date</div>
							<div class="left widthFreeSmall text-center blue headFont">Comments</div>
							<div class="left widthFreeSmall text-center blue headFont">Company(IRO)</div>
							<div class="left widthFreeSmall text-center blue headFont">Appointment Date</div>
							<div class="left widthFreeSmall text-center blue headFont">Add on Payment</div>
							<div class="left widthFreeSmall text-center blue headFont">External Mandate</div>
							<div class="left widthFreeSmall text-center blue headFont">Categories</div>
						</div>
					</div>
				</div>
				<div class="bodyTable width100">
					<div class="width100 border-bot-grey" ng-repeat="contract in hotData.data | filter:compFilter">
						<div class="tab-row repeat-animation">
							<div class="left widthFree" ng-class="{'green':contract.paidstatus=='1','blue':contract.paidstatus!='1'}">
								<span ng-if="contract.company_name !='' && contract.company_name != null" ng-click="goToBform_jdrr(contract)" title="{{contract.parentid}}" class="pointer">{{contract.company_name}}</span>
								<span ng-if="contract.company_name =='' || contract.company_name == null" ng-click="goToBform_jdrr(contract)" class="pointer">Company Name Not Found</span>
							</div>
							<div class="rotateRight">
								<div class="left widthFreeSmall pointer text-center" ng-if="contract.update_time != '' && contract.update_time != null">{{contract.update_time}}</div>
								<div class="left widthFreeSmall pointer text-center" ng-if="contract.update_time == '' || contract.update_time == null">--</div>
								<div class="left widthFreeSmall pointer text-center" ng-if="contract.insert_time != '' && contract.insert_time != null">{{contract.insert_time}}</div>
								<div class="left widthFreeSmall pointer text-center" ng-if="contract.insert_time == '' || contract.insert_time == null">--</div>
								<div class="left widthFreeSmall pointer text-center" title="{{contract.comments}}" ng-if="contract.comments != '' && contract.comments != null">{{contract.comments}}</div>
								<div class="left widthFreeSmall pointer text-center" ng-if="contract.comments == '' || contract.comments == null">--</div>
								<div class="left widthFreeSmall pointer text-center" title="{{contract.company_name}}" ng-if="contract.company_name != '' && contract.company_name != null">{{contract.company_name}}</div>
								<div class="left widthFreeSmall pointer text-center" ng-if="contract.company_name == '' || contract.company_name == null">--</div>
								<div class="left widthFreeSmall pointer text-center" ng-if="contract.company_name != '' && contract.company_name != null">{{contract.app_data}}</div>
								<div class="left widthFreeSmall pointer text-center" ng-if="contract.company_name == '' || contract.company_name == null">--</div>
								<div class="left widthFreeSmall pointer text-center"><a ng-href="../00_Payment_Rework/add_on_payment/mode_selection.php?parentid={{contract.parentid}}&company_name={{contract.company_name | urlEncode}}" target="_blank"><img ng-src="img/add-on.png" /></a></div>
								<div class="left widthFreeSmall pointer text-center"><a ng-href="../00_Payment_Rework/accounts/mandate_selection.php?parentid={{contract.parentid}}&company_name={{contract.company_name | urlEncode}}&flag=" target="_blank"><div class="marBot10px blue">EM</div></a></div>
								<div  ng-click="showDataModeTab($event,2,contract.parentid,contract.company_name)" class="left widthFreeSmall pointer text-center"><img ng-src="img/more.png" /></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section ng-if="hotData.errorCode == 1" class="text-center">
		<div style="font-size:294px;">:(</div>
		<h2>Sorry! No contracts are allocated to you.</h2>
	</section>
</section>
