<section>
	<div class='declaration'>
		<center><div class='dec_title'>D0's and Don't</div></center>
		&#10004; Do not create Test/Dummy Contracts or Edit existing contracts for testing or training purposes. <br><br>
		&#10004; If any business is already listed with us then DO NOT create a duplicate listing of the same under any circumstances.  <br><br>
		&#10004; Do not replace details of an existing business listing with another business listing under any circumstances or reasons. Even if the business is shut down, you are not supposed to replace that information.<br><br> 
		&#10004; Ensure that you enter the Right company name as provided by the business.<br>Do Not use special characters, brand names or any other temporary name for that matter.<br><br>  
		&#10004; Address fields should NOT be used for writing comments, description or anything else; <br> Please ensure that you enter the detailed business address without using abbreviations.<br> <br>
		&#10004; Area Names and Pin codes should be of that business only and CANNOT be changed for any other reason.<br><br> 
		&#10004; Phone and Mobile numbers should be of that Business only, DO NOT add your number or any other number for any reason whatsoever.<br> <br>
		&#10004; Please select dispositions such as Company closed, Shifted, Not in business etc ONLY post appropriate confirmation with the business. <br>	<br>	
		&#10004; Email should be of that Business only, DO NOT add your email address or any other email  address for any reason whatsoever.<br><br>
		&#10004; Category Related: <br>
			<ul style='list-style: circle outside none;padding-left: 55px;'>
				<li>
					Add only those categories in the listing that describes the business.<br>
					For eg. You CANNOT add ‘5 star hotel’ category in a Travel Agent business listing just because he does booking for 5 star hotels.  
				</li>
				<li>
					Do not add categories in the listing without reading out each and every category to the business.<br> 
					Selecting multiple categories in bulk and in haste and submitting the same is prone to errors.<br> 
					For e.g. if business says they deal in all brands of TVs you still need to readout all the brands that are there. 
				</li>
				<li>
					Do not delete categories from the business listing unless confirmed by the business that they do not deal in the same. 
					Categories cannot be deleted from the business listing for any other reason. 
				 </li>
			
			</ul> <br>

			<b>SUMMARY</b><br><br>
			
		The main idea is that not only the above fields but treat Each and Every field of a business listing as important and ensure that right information is entered. <br>

		Kindly note that each field describes and defines the Business Profile and this information goes out to Users of Justdial when they search for the same. <br>

		Therefore, once again please ensure that you Enter and Edit data responsibly. <br>
	</div>
</section>
