<div class="right-slidbx">			
	<div class="conboxSlide"> 
	<div class="whtUget-bx" ng-click="slide_menu()"> What you get?  </div>
		<ul> 
			<li> Get your business online in less than 5 minutes. </li>
			<li> World class cloud hosted business management software. </li>
			<li> Your website with your own company domain. </li>
			<li> Your company's mobile app in Google Play & IOS store. </li>
			<li> Point of Sales barcode scanning system. </li>
			<li> Payment gateway integration with instant credit in your account. </li>
			<li> Integrated billing system. </li>
			<li> Delivery Tracking system. </li>
			<li> Inventory management. </li>
			<li> Taxation, HR and payroll management. </li>
			<li> Auto PO and bill payment. </li>
			<li> Business tracking dashboard on mobile. </li>
			<li> Bulk promo Email and SMS in a click. </li>
		</ul>
	</div>
</div>

<!-- commented br RAHUL
<a class="pro-pic-rt right" style=" background: none repeat scroll 0 0 orange;border: 2px solid;border-radius: 18px;color: white;cursor: pointer;font-size: 15px;font-weight: bold;margin-right: 10px;padding: 8px 3px 3px 7px;width: auto;" href="img/Send_Omni_Link_Training_Doc3-1.pdf" target="_blank" title="omni link training document">
	My Website Tutorial Link
</a>
-->
			

<div class="main-imgConBx wrpr text-center"> 
	<div class="con-bx wrpr"> 
		<img src="img/banner_img/compressedJdOmniDemo188KbWebsitePreview.png" style="padding: 20px;"/>
	</div>
</div>

<div id="posi_fx"></div>
<div class="prnt">
	<div class="wrpr text-center butn-bx _fixed" id="btnSec"> 
		
		<button class="sendLink" style="width:190px;" ng-click='send_demo_pop($event,0)'> Send Theme Link </button> 
		<button class="sendLink" style="width:190px;" ng-click='send_YOW_pop($event,0)'> Send YOW Link </button> 
		<button class="sendLink" style="width:190px;" ng-click="send_demo_pop($event,1)">Preview Theme Link</button>
		<button class="sendLink" style="width:190px;" ng-click="send_YOW_pop($event,1)">Preview YOW Link  </button>
		<button class="proceed mrg-left-15" ng-click="addjdomni_proceed($event)"> Proceed </button> 
	</div>
<!--
	<div class="wrpr text-center butn-bx  _fixed" id="btnSec" style="bottom:0px !important;position:fixed !important;background:white !important;width:100%;text-align:center;">
		<button class="button" ng-click="send_demo_pop($event)" style=" background: none repeat scroll 0 0 #f1f1f1;border: 1px solid #1274c0;border-radius: 2px;color: #1274c0;font-size: 14px;font-weight: 400;height: 35px;line-height: 35px;margin: 10px;padding: 0 !important;text-align: center;width: 160px;"> Send Link </button>
		
		<button class="button" ng-click="viewDemoJdOmniRedirect()" style=" background: none repeat scroll 0 0 #f1f1f1;border: 1px solid #1274c0;border-radius: 2px;color: #1274c0;font-size: 14px;font-weight: 400;height: 35px;line-height: 35px;margin: 10px;padding: 0 !important;text-align: center;width: 160px;"> View Demo </button>
	</div>
-->
</div>
