<section class="popInContainSec">
	
	<div ng-if="balanceData.firstRow.errorCode == 0 || (balanceData.partSec.errorCode == 0 && part2Total > 0)">
	
		<div class="center width100"><h3 ng-if="compNamePop !='' && compNamePop != null" class="colorWhite">Showing Balance Amount for <span class="blue">{{compNamePop|capitalize}}</span></h3></div>
		
		<div class="callBackcards white width67 repeat-animation" ng-if="balanceData.firstRow.errorCode == 0">
			<h3 class="left blueDark">{{balanceData.firstRow.data.campaignname}}</h3>
			<div class="stripAlloc left width100 pad-top-5 pad-bot-5 border-top-grey">
				<div class="left blueDark marLeft10px marRt10px">End Date - {{balanceData.firstRow.data.endDate}}</div><span class="left amrgin10"> / </span>
				<div class="left blueDark marLeft10px marRt10px">Balance Amount - Rs.{{balanceData.firstRow.data.surplusAmount |roundVals:2}}</div>
			</div>
		</div>
		
		<div class="callBackcards width67 repeat-animation" ng-repeat="data in balanceData.partSec.data" ng-if="(data.endDate.numRows > 0 || data.balance.numRows > 0) && data.balance.0 > 0">
			<h3 class="left blueDark">{{data.campaignid}}</h3>
			<div class="stripAlloc left width100 pad-top-5 pad-bot-5 border-top-grey">
				<div class="left blueDark marLeft10px marRt10px">End Date - {{data.endDate.end_date}}</div><span class="left amrgin10"> / </span>
				<div class="left blueDark marLeft10px marRt10px">Balance Amount - Rs.{{data.balance.0 |roundVals:2}}</div>
			</div>
			<!--h3 class="left blueDark" ng-if="data.endDate.length > 0">End date - {{data.endDate.end_date}}</h3-->
		</div>
		
		<section class="botPopTot absolute width100 colorWhite pad-top-5">Gross Amount for Transfer - {{totalbalance|roundVals:2}}</section>
		
	</div>
	
	<div ng-if="(balanceData.firstRow.errorCode == 1 && balanceData.partSec.errorCode == 1) || (balanceData.firstRow.errorCode == 1 && (balanceData.partSec.errorCode == 0 && part2Total == 0))">
		<h3 class="colorWhite">Sorry! No Balance found for this contract.</h3>
	</div>
	
</section>
